<?xml version="1.0"?>
<model>
    <name>Box</name>

    <version>1.0</version>
    <sdf version='1.7'>small_box.urdf</sdf>

    <author>
        <name>Lorenzo Rapetti</name>
        <email>lorenzo.rapetti@iit.t</email>
    </author>

    <description>
        A simple box used in two icubs comanipulation experiment
    </description>
</model>
